In [1]:
import joblib

enron_data = joblib.load(open("../final_project/final_project_dataset.pkl", "rb"))

In [2]:
enron_data['COLWELL WESLEY']

{'salary': 288542,
 'to_messages': 1758,
 'deferral_payments': 27610,
 'total_payments': 1490344,
 'loan_advances': 'NaN',
 'bonus': 1200000,
 'email_address': 'wes.colwell@enron.com',
 'restricted_stock_deferred': 'NaN',
 'deferred_income': -144062,
 'total_stock_value': 698242,
 'expenses': 16514,
 'from_poi_to_this_person': 240,
 'exercised_stock_options': 'NaN',
 'from_messages': 40,
 'other': 101740,
 'from_this_person_to_poi': 11,
 'poi': True,
 'long_term_incentive': 'NaN',
 'shared_receipt_with_poi': 1132,
 'restricted_stock': 698242,
 'director_fees': 'NaN'}

In [3]:
enron_data['SKILLING JEFFREY K']

{'salary': 1111258,
 'to_messages': 3627,
 'deferral_payments': 'NaN',
 'total_payments': 8682716,
 'loan_advances': 'NaN',
 'bonus': 5600000,
 'email_address': 'jeff.skilling@enron.com',
 'restricted_stock_deferred': 'NaN',
 'deferred_income': 'NaN',
 'total_stock_value': 26093672,
 'expenses': 29336,
 'from_poi_to_this_person': 88,
 'exercised_stock_options': 19250000,
 'from_messages': 108,
 'other': 22122,
 'from_this_person_to_poi': 30,
 'poi': True,
 'long_term_incentive': 1920000,
 'shared_receipt_with_poi': 2042,
 'restricted_stock': 6843672,
 'director_fees': 'NaN'}

In [4]:
26093672 - 6843672

19250000

In [5]:
import numpy as np
import pandas as pd
df = pd.DataFrame.from_dict(enron_data, orient='index')

In [6]:
df.head()

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,38,NaN,29,1740,1,False,NaN,702,585062,NaN
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,NaN,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,10,651850,12,NaN,0,False,NaN,58,386335,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,32,5538001,32,11350,21,True,1617011,1035,853064,NaN

In [7]:
len(df.query('salary != "NaN"'))

95

In [8]:
len(df.query('email_address != "NaN"'))

111

In [9]:
len(df)

146

In [10]:
test = np.[[1, 2], [2, 3]]
print(test)

SyntaxError: invalid syntax (<ipython-input-10-8bbf683a76c4>, line 1)

In [11]:
len(df.query('total_payments == "NaN"'))

21

In [17]:
df.shape

(146, 21)

In [15]:
len(df.query('total_payments == "NaN"')) / len(df['total_payments'])

0.14383561643835616

In [25]:
len(df.query('poi == True & total_payments == "NaN"'))

0

In [24]:
len(df.query('poi == True'))

18

In [23]:
df

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,...,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,...,38,NaN,29,1740,1,False,NaN,702,585062,NaN
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,...,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,...,NaN,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,...,10,651850,12,NaN,0,False,NaN,58,386335,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,...,32,5538001,32,11350,21,True,1617011,1035,853064,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
GRAMM WENDY L,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,119292
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,...,58,NaN,49,307895,12,True,350000,1585,2502063,NaN
TAYLOR MITCHELL S,265214,533,227449,1092663,NaN,600000,mitchell.taylor@enron.com,NaN,NaN,3745048,...,0,3181250,29,NaN,0,False,NaN,300,563798,NaN
DONAHUE JR JEFFREY M,278601,865,NaN,875760,NaN,800000,jeff.donahue@enron.com,NaN,-300000,1080988,...,188,765920,22,891,11,False,NaN,772,315068,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,...,52,384728,16,200308,6,True,71023,874,393818,NaN